# Source AlphaMissense file (~1 GB) - too large for git and not redistributable.
# Download separately; see README. Per-protein extracts in data/alphamissense/
# ARE committed and are sufficient to reproduce every result.
AlphaMissense_aa_substitutions.tsv.gz
*.tsv.gz

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# LaTeX build artefacts
*.aux
*.log
*.out
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
